body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f0f0f;
  color:white;
}

.podcast-section{
  padding:40px 20px;
  max-width:900px;
  margin:auto;
}

.podcast-box{
  background:#181818;
  padding:25px;
  border-radius:16px;
}

.podcast-box h2{
  margin-top:0;
  margin-bottom:25px;
}

.episode{
  padding:15px 0;
  border-bottom:1px solid #333;
}

.episode:last-child{
  border-bottom:none;
}

.episode-top{
  display:flex;
  gap:15px;
  align-items:center;
  margin-bottom:10px;
}

.episode-top img{
  width:70px;
  height:70px;
  border-radius:10px;
  object-fit:cover;
  background:#222;
}

.episode-info{
  flex:1;
}

.episode-title{
  display:block;
  color:white;
  text-decoration:none;
  font-weight:bold;
  margin-bottom:4px;
}

.episode-title:hover{
  color:#1db954;
}

.episode-date{
  font-size:12px;
  color:#aaa;
}

audio{
  width:100%;
  margin-top:8px;
}


header{
    background:#181818;
}

.top-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:20px;
}

.top-bar h3{
    margin:0;
    font-size:24px;
    text-align: center;
}

.back-btn{
    display:inline-block;
    padding:10px 20px;
    background:#ffffff;
    color:#000;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}