body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
  background: #020617;
  border: 3px solid #22c55e;
  display: block;
  margin: 15px auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #22c55e;
}
.controls button {
  width: 60px;
}
